<!DOCTYPE html>
<html>
    <head>
        <title>Morpheus</title>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/d3.v2.js"></script>
    </head>
    <body>
        <h1>Morpheus</h1>
        {% block content %}
        {% endblock content %}
        {% block js %}
        {% endblock js %}
    </body>
</html>
